<%- include('app/header.ejs'); %>
  <%- include('app/navbar.ejs'); %>
    <main>
      <section id="jumbotron"
        class="py-5 text-center d-flex align-items-center justify-content-center container-fluid border-gradient">
        <div class="row py-lg-5">
          <div class="col-12 mx-auto">
            <h1 class="text-white">Bookie</h1>
            <div class="container-fluid">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <div id="news" class="container">
        <div id="error"></div>
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      <%= articoli[0].Nome %>
                    </li>
                  </ol>
                </nav>
              </div>
              <% for(var i=0; i < articoli.length; i++) { %>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-image">
                      <img src="<%= articoli[i].Immagine %>" class="card-img-top" alt="...">
                      <% if(session.user) { %>
                        <i class="fas fa-star" onclick="follow_article(<%= articoli[i].ID %>)"></i>
                        <% } %>
                    </div>
                    <div class="card-body border-gradient">
                      <h5 class="card-title">
                        <%= articoli[i].Titolo %>
                      </h5>
                      <p class="card-text">
                        <%= articoli[i].Descrizione %>
                      </p>
                      <a href="/article/<%= articoli[i].ID %>" class="btn">Leggi ancora</a>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <h5>Categorie</h5>
            <ul class="list-group">
              <% for(var i=0; i < categorie.length; i++) { %>
                <li class="list-group-item <%- (articoli[0].Categorie_ID == categorie[i].ID ) ? 'active' : '' %>"><a
                    href="/category/<%= categorie[i].ID %>">
                    <%= categorie[i].Nome %>
                  </a></li>
                <% } %>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Bookie.</span>
      </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/functions.js"></script>
    </body>

    </html>