<%- include('app/header.ejs'); %>
  <%- include('app/navbar.ejs'); %>
    <main>
      <section id="jumbotron"
        class="py-5 text-center d-flex align-items-center justify-content-center container-fluid border-gradient">
        <div class="row py-lg-5">
          <div class="col-12 mx-auto">
            <h1 class="text-white">Bookie</h1>
            <div class="container-fluid">
              <form id="search" class="d-flex" method="get" action="/search">
                <select class="form-select me-2" name="category">
                  <option value="0" selected>Tutte le categorie</option>
                  <% for( var i=0; i < categorie.length; i++){ %>
                    <option value="<%= categorie[i].ID %>">
                      <%= categorie[i].Nome %>
                    </option>
                    <% } %>
                </select>
                <input class="form-control me-2" type="search" placeholder="Cerca..." aria-label="Search" name="search">
                <button class="btn" type="submit">Cerca</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <div id="news" class="container">
        <div id="error"></div>
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-9">
            <% if(articoli.length> 0) { %>
              <div class="row">
                <div class="col-12">
                  <h2>Articoli</h2>
                </div>
                <% for(var i=0; i < articoli.length; i++) { %>
                  <div class="col-md-4">
                    <div class="card mb-4">
                      <div class="card-image">
                        <img src="<%= articoli[i].Immagine %>" class="card-img-top" alt="...">
                        <% if(session.user) { %>
                          <i class="fas fa-star" onclick="follow_article(<%= articoli[i].ID %>)"></i>
                          <% } %>
                      </div>
                      <div class="card-body border-gradient">
                        <h5 class="card-title">
                          <%= articoli[i].Titolo %>
                        </h5>
                        <p class="card-text">
                          <%= articoli[i].Descrizione %>
                        </p>
                        <p class="card-text">
                          <%= articoli[i].Nome + " " + articoli[i].Cognome %>
                        </p>
                        <a href="/article/<%= articoli[i].ID %>" class="btn">Vai all'articolo</a>
                      </div>
                    </div>
                  </div>
                  <% } %>
              </div>
              <% } %>
                <% if(episodi.length> 0) { %>
                  <div class="row">
                    <div class="col-12">
                      <h2>Episodi</h2>
                    </div>
                    <% for(var i=0; i < episodi.length; i++) { %>
                      <div class="col-md-4">
                        <div class="card mb-4">
                          <div class="card-body border-gradient">
                            <h5 class="card-title">
                              <%= episodi[i].Titolo %>
                            </h5>
                            <p class="card-text">
                              <%= episodi[i].Descrizione %>
                            </p>
                            <a href="/episode/<%= episodi[i].ID %>" class="btn">Vai all'articolo</a>
                          </div>
                        </div>
                      </div>
                      <% } %>
                  </div>
                  <% } %>
          </div>
          <div class="col-12 col-md-3">
            <h5>Categorie</h5>
            <ul class="list-group">
              <% for(var i=0; i < categorie.length; i++) { %>
                <li class="list-group-item"><a href="/category/<%= categorie[i].ID %>">
                    <%= categorie[i].Nome %>
                  </a></li>
                <% } %>
            </ul>
          </div>
        </div>
      </div>
      </div>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Bookie.</span>
      </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/functions.js"></script>
    </body>

    </html>